<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NOTE</title>
  </head>
  <style>

    body {background-color: turquoise;}

    #Note {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
          }
    #Note td, #Note th {
    border: 1px solid rgb(4, 85, 4) ;
    padding: 8px;
                       }

    #Note tr:nth-child(even){background-color: #f2f2f2;}

    #Note tr:hover {background-color: #ddd;}

    #Note th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #053121;
    color: white;
             }
    </style>
  
   <body>
        <h2>Notes</h2>

        <table border = '1'>
        
        <table id = 'Note'>
          <tr>
           <th>Sender</th>
           <th>Receiver</th>
           <th>Title</th>
           <th>Message</th>
          </tr>
          {% if Notes %}
            {% for Note in Notes %} 
          <tr>
            <td> {{ Note.sender }} </td>
            <td> {{ Note.receiver }} </td>
            <td> {{ Note.title }} </td>
            <td> {{ Note.message }} </td>
          </tr>
            {% endfor %}
          {% endif %}

        </table>
    </body>
</html>