<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NOTE</title>
  </head>
  <style>

    body {background-color: rgb(75, 219, 230);}

    #Note {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
          }
    #Note td, #Note th {
    border: 3px solid black ;
    padding: 8px;
                       }

    #Note tr:nth-child(even){background-color: #f2f2f2;}

    #Note tr:hover {background-color: #ddd;}

    #Note th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #10853d;
    color: white;
             }
    </style>
  
   <body>
        <h2>NOTE</h2>

        <table border = '1'></table>
        
        <table id = 'Note'>
          <tr>
           <th>Sender</th>
           <th>Receiver</th>
           <th>Title</th>
           <th>Message</th>
          </tr>
          {% if informations %}
            {% for info in informations %} 
          <tr>
            <td> {{ info.sender }} </td>
            <td> {{ info.receiver }} </td>
            <td> {{ info.title }} </td>
            <td> {{ info.message }} </td>
            {% endfor %}
          {% endif %}
          </tr>
        </table>
       <p>Informasi pesan</p>
      <form method="POST" action="">
      </form>
   </body>
</html>