<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>NOTE</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <style>

    body {background-color: turquoise;}

    #Note {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
          }
    #Note td, #Note th {
    border: 1px solid rgb(4, 85, 4) ;
    padding: 8px;
                       }

    #Note tr:nth-child(even){background-color: #f2f2f2;}

    #Note tr:hover {background-color: #ddd;}

    #Note th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #053121;
    color: white;
             }
    </style>
  
   <body>
        <h2>Notes</h2>

        <table border = '1'>
        
        <table id = 'Note'>
          <tr>
           <th>Sender</th>
           <th>Receiver</th>
           <th>Title</th>
           <th>Message</th>
          </tr>
          {% if Notes %}
            {% for Note in Notes %} 
          <tr>
            <td> {{ Note.From }} </td>
            <td> {{ Note.To }} </td>
            <td> {{ Note.Title }} </td>
            <td> {{ Note.Message }} </td>
          </tr>
            <div class="Actions" style="background-color:#959cff;">
                <h2>Actions</h2>
                <button>View</button>
                <button>Edit</button>
                <button>Delete</button>
                <form class="Actions" action="/action_page.php">
                  <div class="Actions">
                    <h1>Delete Message</h1>
                  </div>
                </form>
            </div>
            {% endfor %}
          {% endif %}

        </table>
    </body>
</html>