<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message Information</title>
  </head>
  <body>
    <table border = '1'>
      <tr>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Title</th>
        <th>Message</th>
      </tr>  
       {% if message_info %}
         {% for info in message_info %}
        <tr>
          <td> {{ info.sender }} </td>
          <td> {{ info.receiver }} </td>
          <td> {{ info.title }} </td>
          <td> {{ info.message }} </td>
        </tr>
          {% endfor %}
        {% endif %}
         <!-- TODO loop from Friend model -->
         <!-- EXAMPLE SECTION -->
      <tr>
        <td>Asmara Nugi</td>
        <td>1706032156</td>
        <td>May 1, 1999</td>
      </tr>
      <tr>
        <td>Fadli Rais</td>
        <td>1706032370</td>
        <td>Sept 11, 1998</td>
      </tr>
      <!-- END SECTION -->
    </table>
  </body>
</html>
